// flow => set margin-top for all children except first one
@mixin flow($parent, $flow-space: 1rem) {
  #{$parent} {
    > *:where(:not(:first-child)){
      margin-block-start: $flow-space;
    }
  }
};

// flex
// grid
// grid system

// media queries
@mixin breakpoint-up($size) { // min-width
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
};

@mixin breakpoint-between($min, $max) { // min < media < max
  @media (min-width: map.get($breakpoints, $min)) and (min-width: map.get($breakpoints, $max)){
    @content;
  }
};

@mixin breakpoint-down($size) { // max-width
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
};


//* center-position
@mixin center-position($direction: all, $position: absolute) {
  position: $position;
  
  @if $direction == all { //* center X & Y
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } @else if $direction == x { //* center X
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction == y { //* center Y
    top: 50%;
    transform: translateY(-50%);
  }
}