@use '../abstracts' as *;

//* color
@each $color, $value in $color-palette {
  .bg-#{$color} { //* background
    background-color: get-color(clr-#{$color});
  } 

  .text-#{$color} { //* text
    color: get-color(clr-#{$color});
  } 
};

//* fonts //* weight
@each $fw, $value in $font-weight {
  .fw-#{$fw} {
    font-weight: $value;
  }
}

//* size
@each $fs, $value in $font-sizes {
  .fs-#{$fs} {
    font-size: $value;
  }
}

//* letter-spacing
@each $ls, $value in $letter-spacing {
  .letter-spacing-#{$ls} {
    font-size: $value;
  }
}

//* spacing
@each $space-num, $space in $spaceing {
  .p-#{$space-num} { //* padding
    padding: $space
  }

  .m-#{$space-num} { //* margin
    margin: $space
  }
  
  @each $side-name, $side in $sides {
    .p-#{$side-name} { //* padding-sides
      padding-#{$side}: $space
    }
    .m-#{$side-name} { //* margin-sides
      margin-#{$side}: $space
    }
  }
}

//* generate different utilities
@each $utility, $prop in $utilites {
  @each $item, $value in $prop {
    .#{$utility}-#{$item} {
      #{$utility}: $value; 
    }
  }
}
